*, html{
    margin: 0;
    padding: 0;
}

body{
    background-color: #000c0c;
}

.calendario{
    margin: 2vw auto;
    font-family: 'Comic Sans MS';
    width: 35vw;
    /* height: 40vw; */
    background-color: #e2e3a9;
    padding: 2vw 2vw;
}

.header{
    text-align: center;
    margin-bottom: 2vw;
    font-size: 1.6vw;
}

.mes{
    border-bottom: #000c0c 2px solid;
    margin-bottom: 2vh;
}

.semana{
    display: flex;
    text-align: center;
    align-items: center;
}

.past{
    text-align: center;
    background-color: #fff;
    color: gray;
    height: 5vw;
    border: 2px solid gray;
}

.weekday{
    font-size: 1.1vw;
    border-bottom: 1px solid #000c0c;
    margin-right: 1.2vh;
    width: 50%;
}

.weekday:last-child{
    margin-right: 0;
}

.dias{
    height: 28vw;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 1vh 1vh;
    color: #fff;
}

.dia{
    /* width: 3vw; */
    height: 5vw;
    background-color: #3e3932;
    border: black 2px solid;
    text-align: center;
    font-size: 1vw;
}

.niver {
    background-color: #0fbab7;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.niver img{
    width: 3vw;
}

.feriado{
    background-color: #e4cd8a;
    color: #000c0c;
    cursor: pointer;
}

#opaco{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #000000a9;
    z-index: 99;
    display: none;
}

.hidden-container{
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#overimg img{
    width: 40vw;
}

button{
    padding: 1vh 2vh;
    cursor: pointer;
    font-size: 1.2vw;    
}