*, html{
    padding: 0;
    margin: 0;
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    color: #fff;
    margin: 2vh;
    text-align: center;
    font-size: 2.5vw;
}

.line{
    background-color: #fff;
    width: 35%;
    height: 2px;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: radial-gradient(circle, rgba(255,20,194,1) 16%, rgba(38,0,60,1) 100%);
}

.form{
    display: flex;
    justify-content: center;
}

.inputBox input[type='text']{
    border-radius: 10px;
    padding: 0.3rem;
    margin: 1vh 0;
    outline: none;
    border: none;
    background-color: #ffffffc9;
    transition: 0.2s;
}

.inputBox input[type='text']:focus{
    background-color: #fff;
    transition: 0.2s;
}


form{
    padding: 2vh 14vw;
    border-radius: 20px;
    background-color: #00000067;
}

.radioBox, .checksBox{
    color: #fff;
    font-size: 0.8vw;
}

.inputBox{
    margin: 2vh 0;

}

.btn{
    margin-top: 2vh;
}

.btn button{
    font-size: 1.3vw;
}

h4{
    color: #fff;
}