*, html{
    margin: 0;
    padding: 0;
}

.galeria{
    margin: 2vw auto;
    width: 650px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px 5px;
}

.card-container {
    height: 150px;
    perspective: 600;
    position: relative;
    width: 150px;
    background-color: transparent;
    border-radius: 20px;
    overflow: hidden;
}

.side img{
    width: 150px;
    height: 150px;
}

.card {
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: all 1s ease-in-out;
  width: 100%;
}

.card-container:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: 0.5s;
}

.card:active {
  transform: rotateY(180deg);
  box-shadow: none;
}

.card .side {
  backface-visibility: hidden;
  height: 100%;
  position: absolute;
  width: 100%;
}
.card .back {
  transform: rotateY(180deg);
}

.back{
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    text-align: center;
    color: white;
}

.back p{
    margin-top: 2vh;
}