*, html{
    margin: 0;
    padding: 0;
}

.galeria{
    margin: 2vw auto;
    width: 650px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px 5px;
}

.img img{
    width: 100%;
    height: 100%;
}

.img{
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s;
}

.img:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: 0.5s;
}
    
.back{
    z-index: 2;
    background-color: aqua;
    width: 100%;
    height: 100%;
}